body {
  background-color: #131313;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.lesson-body {
  display: flex;
  justify-content: center;
}

.wrapper {
  background-image: url(/img/003-lesson/Стена.png);
  width: 1157px;
}

.navigation__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navigation__main_hashtag {
  font-family: 'Caveat';
  font-size: 30px;
  line-height: 38px;
  color: #1acd4c;
  text-transform: uppercase;
}

.navigation__main_user-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.navigation__main_menu {
  width: 752px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.navigation__main_menu_active {
  color: #272727;
  text-decoration: line-through;
}

.table-name {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
}

.table {
  border-collapse: collapse;
  text-align: left;
  width: 1157px;
}

.table-row {
  border-left: 1px solid #272727;
  border-right: 1px solid #272727;
  border-bottom: 1px solid #272727;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #131313;
}

th {
  border-bottom: 1px solid #272727;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #727272;
}
td {
  padding: 15px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 26px 0 211px 0;
}

.copyright {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
